@model IEnumerable<GameMarktDBF2.DAL.Models.Urun>

@{
    ViewData["Title"] = "Steam";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/stil.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('/img/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .buttongirisbasarili {
            background-color: transparent;
            border-radius: 20px;
            border: 1px solid gold;
            color: white;
            padding: 5px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 1;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            right: -650px;
            bottom: 175px;
            position: relative;
            width: 40px;
            height: 40px;
        }
    </style>
    </div>

</head>

<body>
    <div class="container mydiv">
        <div class="row">

            @if (Model != null)
            {
                foreach (var item in Model)

                {
                    if (item.KategoriId == 4)
                    {
                        <div class="col-md-4">

                            <!-- bbb_deals -->
                            <div class="bbb_deals">

                                <div class="bbb_deals_slider_container">

                                    <div class=" bbb_deals_item">
                                        <div class="bbb_deals_image"><img src="~/img/steamgenel.jpeg" alt=""></div>
                                        <div class="bbb_deals_content">

                                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                <div class="bbb_deals_item_name">@item.UrunAd</div>
                                                <div class="bbb_deals_item_price ml-auto">@item.Fiyat TL</div>
                                            </div>
                                            <div class="available">
                                                <div class="available_line d-flex flex-row justify-content-start">
                                                    <div class="available_title">Stok: <span>@item.Miktar</span></div>
                                                </div>
                                                <div class="available_bar"><span style="width:17%"></span></div>
                                            </div>
                                        </div>
                                    </div>


                                    <a asp-area="" asp-controller="Home" asp-action="SatinAlma"><button class="buttonSatinal button1">Satın Al!</button></a>
                                </div>
                            </div>
                        </div>}
                }
            }

            <style>
                .buttonSatinal {
                    background-color: #4CAF50; /* Green */
                    border: none;
                    color: white;
                    padding: 8px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    position: relative;
                    top: 20px;
                    right: -2.25cm;
                }

                .button1 {
                    background-color: #4CAF50;
                    color: white;
                    border: 2px solid #4CAF50;
                    border-radius: 20px;
                    text-align: center;
                    margin: auto;
                }

                    .button1:hover {
                        background-color: transparent;
                        color: #4CAF50;
                    }
            </style>


</body>
</html>
