@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GameMarktDBF2.DAL.Models.Musteri

@{
    ViewData["Title"] = "Kayıt Ol";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/kayitol.css">
<script src="/js/kayitekran.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('/img/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</div>

<div class="navbar" style="text-align: center;font-weight:bold;">
    <a style="text-align: center" asp-area="" asp-controller="Home" asp-action="Oyunlar">Oyunlar</a>
    <div class="dropdown">
        <button style="text-align: center;font-weight:bold;" class="dropbtn" onclick="myFunction3()">
            E-Pin <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown3">

            <a asp-area="" asp-controller="Home" asp-action="VpSatinAl">Valorant Points</a>
            <a asp-area="" asp-controller="Home" asp-action="UcSatinAl">PUBG Mobile UC</a>
            <a asp-area="" asp-controller="Home" asp-action="RpSatinAl">League Of Legends RP</a>
            <a asp-area="" asp-controller="Home" asp-action="SteamSatinAl">Steam Cüzdan Kodu</a>

        </div>
    </div>
    <a style="text-align: center" asp-area="" asp-controller="Home" asp-action="Destek">Destek</a>
</div>
<div style="border: 1px solid #333;border-radius: 20px;background-color: rgba(255,255,255,.5);width: 44%;text-align: center;margin: auto;margin-top:30px;height: 475px;">
    <h1 style="text-align: center;font-size: 30px;padding: 30px;">Kayıt Formu</h1>

    <div class="girisform">



        <div class="row">
            <div class="col-md-4">
                <form asp-action="KayitOl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <p class="myStyle1">Adınız:</p>
                        <input type="text" id="ad" asp-for="Adi" class="form-control" />

                        <span asp-validation-for="Adi" class="text-danger"></span>
                    </div><div class="form-group">
                        <p class="myStyle1">Soyadınız:</p>
                        <input type="text" id="soyad" asp-for="Soyadi" class="form-control" />

                        <span asp-validation-for="Soyadi" class="text-danger"></span>
                    </div><div class="form-group">
                        <p class="myStyle1">E-mail adresiniz:</p>
                        <input type="text" id="eposta" asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div><div class="form-group">
                        <p class="myStyle1">Şifreniz:</p>
                        <input type="text" id="passwd" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kayıt Ol!" class="buttongiris2" />
                    </div>
                </form>
            </div>
        </div>


        <form action="">
            <input style="position: relative;bottom: -2px" type="checkbox" id="chk1">
            <label style="position: relative;bottom: -2px" for="chk1">Kullanıcı sözleşmesini okudum ve kabul ediyorum.</label><br>
        </form>

        <style>
            .buttongiris2 {
                background-color: #333;
                border-radius: 20px;
                border: 1px solid gold;
                color: white;
                text-align: center;
                align-items: center;
                font-size: 16px;
                margin: auto;
                opacity: 1;
                transition: 0.3s;
                text-decoration: none;
                font-weight: bold;
                width: 200px;
                height: 30px;
                top: 60px;
                position: relative;
            }

            .button:hover {
                opacity: 1
            }
        </style>

    </div>
</div>